@model UserClaimsViewModel

<form method="POST">
    <div class="card">
        <div class="card-header">
            <h3>Manage User Claims</h3>
        </div>
        <div class="card-body">
            @for (int i = 0; i < Model.Claims.Count; i++)
            {
                <div class="form-check m-1">
                    <input type="hidden" asp-for="@Model.Claims[i].ClaimType" />
                    <input class="form-check-input" asp-for="@Model.Claims[i].IsSelected" />
                    <label asp-for="@Model.Claims[i].IsSelected" class="form-check-label">@Model.Claims[i].ClaimType</label>
                </div>
            }
            <div asp-validation-summary="All" class="text-danger"></div>
        </div>
        <div class="card-footer">
            <input type="submit" value="Update" class="btn btn-primary">
            <a class="btn btn-primary" asp-controller="Administration" asp-action="EditUser" asp-route-userId="@Model.UserId">Manage Claims</a>
        </div>
    </div>
</form>